---
import Layout from "../layouts/Layout.astro";
import MobileHeader from "../components/mobileHeader.astro";
import MobileDropdown from "../components/mobileDropdown.astro";

---

<Layout>
    <MobileHeader />
    <MobileDropdown />
    <h1>Contact Me</h1>
    <p>If you'd like to get in touch, please reach out via email at </p>
</Layout>