---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Footer from "../components/footer.astro";
import MobileHeader from "../components/mobileHeader.astro";
import { execSync } from 'child_process';
import MobileDropdown from "../components/mobileDropdown.astro";
import DesktopNavbar from "../components/desktopNavbar.astro";

const commit = execSync("git rev-parse --short HEAD").toString().trim();
---

<Layout>
	<div
		class="flex flex-col min-h-screen bg-white dark:bg-slate-900 text-slate-900 dark:text-white"
	>

		<MobileHeader />

		<MobileDropdown />



		<div class="flex flex-1">
			<!-- desktop sidebar
			<aside
				class="hidden sm:flex w-48 sm:w-56 pl-12 pt-10 flex-col items-start"
			>
				<nav
					class="flex flex-col gap-3 text-lg font-medium items-start"
				>
					<a href="/" class="hover:opacity-70">home</a>
					<a href="/projects" class="hover:opacity-70">projects</a>
					<a href="/contact" class="hover:opacity-70">contact</a>
					<a href="/faq" class="hover:opacity-70">resume</a>
				</nav>
			</aside> -->

			<DesktopNavbar />

			<!-- MAIN CONTENT HERE !!-->
			<main class="flex-1">
				<section class="w-full text-center mt-16">
					<h1 class="text-5xl sm:text-8xl font-bold">
						aayan shaikh.
					</h1>
					<p class="text-base sm:text-lg mt-4 opacity-80">
						Circuit boards. Shell commands. Building the future.
					</p>
				</section>

				<section
					class="max-w-2xl mx-auto mt-12 px-6 text-lg leading-relaxed space-y-5"
				>
					<p>
						Hey! I'm Aayan. 👋 I like working on embedded systems,
						Linux, and building cool hardware or software projects.
					</p>

					<p>
						I am an undergraduate student at the University of
						Guelph, studying Computer Engineering 🖥️⚙️ (Co-op).
					</p>

					<p>
						Some cool projects I've engineered include a custom
						keyboard designed from scratch, my own development board
						(think Arduino) featuring LoRa communication and battery
						management, and an at-home hydrogen generation system
						concept (won 1st place!). If this sounds cool, check
						these projects out in the Projects section!
					</p>

					<p>
						I am actively planning and exploring new startup ideas,
						looking to build the next impactful project. Also, I
						love collaborating on projects! If you have an idea,
						feel free to reach out.
					</p>
				</section>
			</main>
		</div>
	<Footer commit={commit} />
	</div>

	<!-- <script>
		const menuToggle = document.getElementById("menu-toggle");
		const mobileMenu = document.getElementById("mobile-menu");

		menuToggle?.addEventListener("click", () => {
			mobileMenu?.classList.toggle("hidden");
			mobileMenu?.classList.toggle("flex");
		});
	</script> -->

</Layout>