---

---

<!-- desktop sidebar, only on desktop -->
<aside
    class="hidden sm:flex w-48 sm:w-56 pl-12 pt-10 flex-col items-start"
>
    <nav
        class="flex flex-col gap-3 text-lg font-medium items-start"
    >
        <a href="/" class="hover:opacity-70">home</a>
        <a href="/projects" class="hover:opacity-70">projects</a>
        <a href="/contact" class="hover:opacity-70">contact</a>
        <a href="/resume" class="hover:opacity-70">resume</a>
    </nav>
</aside>