---
const { commit } = Astro.props;
const githuburl = "https://github.com/AayanShaikh007/webnew";
---

<footer class="w-full text-center">

<!-- DELETE THIS AFTER FINISHED !!!!!!!!!!!!!!!!!!!!!! -->
    <p>
        This website is under development, many features may not work as intended.
    </p>
    
    <p>

        
        &copy; {new Date().getFullYear()} aayan shaikh

        <img src="/scalar-logo-full.png" alt="check" style="display:inline-block; width:67px; height:auto; vertical-align:-10px;" class="py"/>

        

        . built with Astro. current commit:

        <a
            class="underline hover:opacity-67"
            href=`${githuburl}/commit/${commit}`
            target="_blank"
            rel="noopener noreferrer"
        >
            {commit}
        </a>

        
    </p>
</footer>
